@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #4D4A4E;
    color: white;
    font-family: 'Lato', sans-serif;
    background-image: url(img/layers/header.png);
    overflow-x: hidden;
}
/* Initialisation */

nav{
    background-color: #710D82 ;
    width: 100vw;
    position: fixed;
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
}
nav ul li:last-child{
    margin-right: 2em;
}
nav ul li a{
    display: block;
    padding: 1em;
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    background-color: #36CCCC;    
}
/* Barre de navigation */

#accueil{
    height: 100vh;
    display: flex;
    align-items: center;
}
/* Accueil */

#presentation{
    height: 75vh;
}
#pre_under{
    display: flex;
    justify-content: space-evenly;
}
#pre_text{
    width: 50vw;
}
#presentation img{
    width: 300px;
    height: 300px;
    border-radius: 100%;
}
#pre_button{
    width: 100vw;
    display: flex;
    justify-content: center;
}
#pre_button a button{
    padding: 1em;
    cursor: pointer;
}
/* Presentation */

#projets{
    height: 75vh;
    background-color: #4D4A4E;
}
/* Projets */

#contact{
    display: flex;
    align-items: center;
}
.con_social{
    display: flex;
    margin: 4em;
    align-items: center;
}
.con_social img{
    margin-right: 4em;
}
.con_form{
    display: flex;
    flex-direction: column;
}
form{
    width: 50vw;
}
#con_social_id{
    width: 50vw;
}
#con_line input{
    width: 22vw;
}
#con_line{
    display: flex;
    justify-content: space-between;
}
form input, form textarea{
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
}
#submit{
    width: 100%;
    cursor: pointer;
}
/* Contact */
