@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #4D4A4E;
    color: white;
    font-family: 'Lato', sans-serif;
}
/* Initialisation */

nav{
    background-color: #710D82 ;
    width: 100vw;
    position: fixed;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li a{
    display: block;
    padding: 1em;
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    background-color: #36CCCC;    
}
/* Barre de navigation */

#accueil{
    height: 100vh;
    display: flex;
    align-items: center;
}
/* Accueil */

#presentation{
    height: 75vh;
}
#pre_under{
    display: flex;
}
#presentation img{
    width: 150px;
    height: auto;
}